<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:t="http://www.w3.org/1999/html">
<head>
    <title>Verify Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet"  media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/verify-application.css"
		  th:href="@{/css/verify-application.css}"rel="stylesheet" type="text/css"/>
	<script src="../../static/js/verify-application.js"
			th:src="@{/js/verify-application.js}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
</head>
<body onload="initialLoad();">
    <nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">

				<a href="#" class="navbar-brand">GAWP - Grad School</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a  href="/logout">
						<i style='font-size:13px;' class='fas'>&#xf2f5; Sign Out</i>
					</a>
				</li>
			</ul>
		</div>
	</nav><!-- end of the navbar-->




    <div class="container" id="first-part" style="margin-bottom: 0px; ">
        <div class="container-section d-flex align-items-center justify-content-center col-4">
            <div class="container-section-part ">
                <div class="row cs-first">
                    <div class="row cs-first-title col-xs-6">
                        <p><span th:text="${applicationToVerify.advert.type + ' in ' + applicationToVerify.advert.name}"/></p>
                    </div>
					
					<div class="col-xs-4">
						<div class="date-title col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<p>Expire Date: </p>
						</div>
						<div class="date col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<p><span th:utext="${#dates.format(applicationToVerify.advert.deadlineDate, 'dd-MM-yyyy')}"/></p>
						</div>
					</div>
					
                    <div class="cs-first-description col-xs-2">
                        <a th:href= "${'/grad/advert/show/' + applicationToVerify.advert.id }" >
                            <button type="submit" class="btn btn-default see-details" style="width: 100%;background: #fff;color:#3F78B3 ;border-color: #3F78B3;border-radius: 15px;">See Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

	
	
	<div class="container" id="first-part2" style="margin-bottom: 10px; ">
        <div class="container-section d-flex align-items-center justify-content-center col-4" style="padding-top: 10px;">
            <div class="container-section-part ">
				
                <div class="row step">
                    <div class="row step-title">
                        <p>STEP-1</p>
                    </div>

					<div class="row">

						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<p>Name: </p>
						</div>
						<div class="info-letter col-xs-5 col-sm-5 col-md-5 col-lg-5">
							<p>
								<span th:utext="${applicationToVerify.applicant.fName}"></span>
							</p>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<p>Surname: </p>
						</div>
						<div class="info-letter col-xs-5 col-sm-5 col-md-5 col-lg-5">
							<p>
								<span th:utext="${applicationToVerify.applicant.lName}"></span>
							</p>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

					</div>
					

					
					
					<div  class="row">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<p>Phone Number: </p>
						</div>
						<div class="info-letter col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<p>
								<span th:utext="${applicationToVerify.applicant.phone}"/>
							</p>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>


						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<p>Birth Date: </p>
						</div>
						<div class="info-letter col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<p>
								<span th:utext="${#dates.format(applicationToVerify.applicant.birthDate, 'dd-MM-yyyy')}"/>
							</p>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
					</div>  
					


					<div class="address-part">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<p>Address: </p>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

						<div class="text-area-last-section">
							<textarea readonly id="addr-details" class="" rows="5"><span th:utext="${applicationToVerify.applicant.address}"/></textarea>
						</div>
						
				</div>
					
                </div>
				
				
				
				<div class="row step">
                    <div class="row step-title">
                        <p>STEP-2</p>
                    </div>
					
					<div class= "row step-question-part">
						<div class="just-letter col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<p>Photo: </p>
						</div>
						<div th:each="doc : ${applicationToVerify.getDocuments()}"
							 th:if="${doc.getDocType().toString().equals('PHOTO')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
								<button type="submit" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
							</a>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
						
					</div>
					
					<div  class="row step-question-part">
						<div class="just-letter col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<p>Transcript/s :</p>
						</div>
						<div th:each="doc : ${applicationToVerify.getDocuments()}"
							 th:if="${doc.getDocType().toString().equals('TRANSCRIPT')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
								<button type="submit" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
							</a>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
					</div>
					
					<div  class="row step-question-part">
						<div class="just-letter col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<p>ALES Result?*</p>
						</div>
						<div th:each="doc : ${applicationToVerify.getDocuments()}"
							 th:if="${doc.getDocType().toString().equals('ALES')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
								<button type="submit" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
							</a>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
					</div>

					<input hidden id="hasEnglishExam" th:value="${hasEnglishExam}"/>
					<div id="englishExamPart" class="row step-question-part">
						<div class="just-letter col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<p>English Exam Result?</p>
						</div>
						<div th:each="doc : ${applicationToVerify.getDocuments()}"
							 th:if="${doc.getDocType().toString().equals('ENGLISHEXAM')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
								<button type="submit" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
							</a>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
					</div>
					 
                </div>
				
	
				
				<div class="row step">
                    <div class="row step-title">
                        <p>About Applicant's Application</p>
                    </div>
									
					<div  class="row">
						<div class="just-letter col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<p>Purpose Letter </p>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
						<p class="info-letter big  col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width: 90%" rows="10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatem distinctio veritatis modi incidunt animi, totam nihil molestiae molestias, dolor quod neque numquam tempora odio fugiat magnam? Eos, alias reprehenderit!</p>
						
						<div class="just-letter col-xs-2 col-sm-2 col-md-2 col-lg-2" style="margin-top: 15px">
							<p>Reference Letter/s :</p>
						</div>

						<div th:each="doc : ${applicationToVerify.getDocuments()}"
							 th:if="${doc.getDocType().toString().equals('REFERENCELETTER')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
								<button type="submit" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
							</a>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top:5px"></div>

					</div>
					
				</div>

			

				<div class="row step">
                    <div class="row step-title">
                        <p>Other Information About The Applicant</p>
                    </div>
									
					<div  class="row select-part need-space">
						<input hidden id="isForeign" th:value="${isForeign}"/>
						<div class="just-letter col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Is applicant have Turkish identity card?: </div>
							<div id="no1"  style= "display: none">No </div>
							<div id="yes1" style= "display: none">Yes</div>
						</div>
						
						<div id="extra-1" style="visibility: hidden;">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
							<div class="disc-letter col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<p>Foreign passport:</p>
							</div>

							<div th:each="doc : ${applicationToVerify.getDocuments()}"
								 th:if="${doc.getDocType().toString().equals('PASSPORT')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
									<button type="submit" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
								</a>
							</div>
							<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ></div>
						</div>
					</div>
						
			

					<div  class="row select-part need-space">
						<div class="just-letter col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<input hidden id="isWorking" th:value="${isWorking}"/>
							<div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Is the applicant working?: </div>
							<div id="no2"  style= "display: none">No </div>
							<div id="yes2" style= "display: none">Yes</div>
						</div>
						
						<div id="extra-2" style="visibility: hidden;">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
							<div class="disc-letter col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<p>Permission letter:</p>
							</div>
							<div th:each="doc : ${applicationToVerify.getDocuments()}"
								 th:if="${doc.getDocType().toString().equals('PERMISSIONLETTER')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
									<button type="submit" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
								</a>
							</div>
							<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ></div>
						</div>
					</div>

				</div>

				<input hidden id="is-phd" th:value="${applicationToVerify.getAdvert().getType().toString().equals('PHD')}"/>
				<div id="phd-application" class="row step">
                    <div class="row step-title">
                        <p>PhD Application</p>
					</div>
					
									
					<div  class="row">
						<div class="just-letter col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p>You are in last step. You are trying  to apply to an PhD advert. Please Open File your Master Transcript to complete application.* </p>
						</div>
						
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ></div>
						<div class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<button type="submit" class="btn btn-default Open File-button" style="width: 100%;background: #ffffff;color:#b29b25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
					</div>

				</div>


		
				
				
				
				<div class="bottom-buttons">
					<div class="col-xs-8"></div>
					<div class="cs-first-description col-xs-2">
							
						<a th:href="${'/grad/decline/'+applicationToVerify.id}">
							<button id="decline"   class="btn btn-default update" style="width: 100%;color:#646464 ;border-color: #646464;border-radius: 15px; display:block;">Decline</button>
						</a>
					</div>
					<div class="cs-first-description col-xs-2">
							
							<a th:href="${'/grad/verify/'+applicationToVerify.id}">
								<button id="confirm"   class="btn btn-default update" style="width: 100%;background: #F25A73;color:#fff ;border-color: #F25A73;border-radius: 15px; display:block;">Verify</button>
							</a>
					</div>
				
				</div>

	
            
			</div>
		</div>
	</div>

</body>
</html>