<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verified and Approved Applications</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/verified-and-approved-applications.css"
          th:href="@{/css/verified-and-approved-applications.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
</head>
<body>
    <nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">

				<a href="/grad" class="navbar-brand">GAWP - Grad School</a>
			</div>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a  href="/logout">
                        <i style='font-size:13px;' class='fas'>&#xf2f5; Sign Out</i>
                    </a>
                </li>
            </ul>
		</div>
	</nav><!-- end of the navbar-->

    <div class="container" style="margin-bottom: 10px; ">
        <div class="container-section d-flex align-items-center justify-content-center ">
            <div class="container-section-part">
                <div class="container-title">
                    <p style="font-size: 28px; color: #474747; border-bottom: solid 1px #c7c6c6aa; padding-left: 50px; padding-bottom:10px; letter-spacing: 0.3px;">Verified and Approved Applications</p>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(verified)}">
                <p style="margin-top:10px;">There is no verified application</p>
            </div>
            <div class="container-second-section"th:each= "vApplication : ${verified}">
                <div class="row attribute-part col-9 col-md-9 col-lg-9">
                    <div class="col-4 col-md-4 col-lg-4 id-part">
                        <p style="margin-top:10px;"th:text="'#' + ${vApplication.id}"></p>
                    </div>
                    <div class="col-2 col-md-2 col-lg-2 from-part">
                        <p style="margin-top:10px;">from</p>
                    </div>
                    <div class="col-3 col-md-3 col-lg-3 name-part">
                        <p style="margin-top: 10px;"th:text="${vApplication.applicant.fName + ' ' + vApplication.applicant.lName}"></p>
                    </div>
                    <div class="col-3 col-md-3 col-lg-3 button-part">
                        <a th:href="${'/grad/applicationsBeforeForwarding/verifiedAndApproved/' + vApplication.id}">
                            <button class="btn btn-search"><i class="fas fa-search"></i></button>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
</html>