<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verify Approved Applications</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/verify-approved-applications.css"
          th:href="@{/css/verify-approved-applications.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
</head>
<body>
    <nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">

				<a href="/grad" class="navbar-brand">GAWP - Grad School</a>
			</div>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a  href="/logout">
                        <i style='font-size:13px;' class='fas'>&#xf2f5; Sign Out</i>
                    </a>
                </li>
            </ul>
		</div>
	</nav><!-- end of the navbar-->

    <div class="container" style="margin-bottom: 10px; ">
        <div class="container-section d-flex align-items-center justify-content-center ">
            <div class="container-section-part">
                <div class="container-title">
                    <p style="font-size: 28px; color: #474747; border-bottom: solid 1px #c7c6c6aa; padding-left: 50px; padding-bottom:10px; letter-spacing: 0.3px;">Approved Applications</p>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(toverify)}">
                <p style="margin-top:10px;">There is no application to verify</p>
            </div>
            <div class="container-second-section"th:each= "vApplication : ${toverify}">
                <div class="row attribute-part col-9 col-md-9 col-lg-9">
                    <div class="col-4 col-md-4 col-lg-4 id-part">
                        <p style="margin-top:10px;"th:text="'#' + ${vApplication.id}"></p>
                    </div>
                    <div class="col-2 col-md-2 col-lg-2 from-part">
                        <p style="margin-top:10px;">from</p>
                    </div>
                    <div class="col-3 col-md-3 col-lg-3 name-part">
                        <p style="margin-top: 10px;"th:text="'#' + ${vApplication.applicant.fName + ' ' + vApplication.applicant.lName}"></p>
                    </div>
                    <div class="col-3 col-md-3 col-lg-3 button-part">
                        <a  th:href="${'/grad/applicationsBeforeForwarding/verify/' + vApplication.id}">
                            <button class="btn btn-search"><i class="fas fa-search"></i></button>
                        </a>
                        <a  th:href="${'/grad/decline/' + vApplication.id}">
                            <button class="btn btn-wrong"><i class="fas fa-times"></i></button>
                        </a>
                        <a  th:href="${'/grad/verify/' + vApplication.id}">
                            <button class="btn btn-correct"><i class="fas fa-check"></i></button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div class="footer" style="background-color:#e0e0e0; color: black; height: 300px; position: relative; margin-top: 300px;">
            <div class="footer-content" style="padding: 30px; height: 250px;">
                <div class="footer-section about col-4 col-md-4 col-lg-4">
                    <div class="about-title-part" style="text-align: center; font-size: 18px; letter-spacing: 0.3px;">
                        <div>
                            <p>ABOUT</p>
                        </div>
                    </div>
                    <ul style="margin: 0; padding: 0;">
                        <li style="text-align: center; list-style: none; font-size: 15px;"><a style=" text-decoration: none; color: #818181;" th:href="@{/grad/aboutUs}" target="_blank">About us</a></li>
                    </ul>

                </div>
                <div class="footer-section support col-4 col-md-4 col-lg-4">
                    <div class="support-title-part"style="text-align: center; font-size: 18px; letter-spacing: 0.3px;">
                        <div>
                            <p>SUPPORT</p>
                        </div>
                    </div>
                    <ul style="margin: 0; padding: 0;">
                        <li style="text-align: center; list-style: none; font-size: 15px;"><a style=" text-decoration: none; color: #818181;" target="_blank" th:href="@{/grad/helpCenter}">Help Center</a></li>
                        <li style="text-align: center; list-style: none; font-size: 15px; padding-top: 5px;"><a style=" text-decoration: none; color: #818181;" target="_blank" th:href="@{/grad/navigator}">Navigator</a></li>
                        <li style="text-align: center; list-style: none; font-size: 15px; padding-top: 5px;"><a style=" text-decoration: none; color: #818181;" target="_blank" th:href="@{/grad/faq}">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-section contact-us col-4 col-md-4 col-lg-4">
                    <div class="contact-title-part" style="text-align: center; font-size: 18px; letter-spacing: 0.3px;">
                        <div>
                            <p>CONTACT US</p>
                        </div>
                    </div>
                    <ul style="margin: 0; padding: 0;">
                        <li style="text-align: center; list-style: none; font-size: 15px; color: #818181;">group10.gawp@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom" style="color: #d6d6d6; height: 50px; text-align: center; position: absolute; bottom: 0; left: 0; width: 100%; font-size: 18px;">
                <div class="menu" style="background-color: #c9c9c9; list-style: none; padding: 10px 0px 10px 0px;">
                    <ul style="margin: 0;">
                        <a th:href="@{/grad/policies}" target="_blank">
                            <li style="color: rgb(77, 77, 77); display: inline; padding: 0px 30px 0px 30px;">Trust and Safety</li>
                            <li style="color: rgb(82, 82, 82); display: inline; padding: 0px 30px 0px 30px;">Term of Use</li>
                            <li style="color: rgb(82, 82, 82); display: inline; padding: 0px 30px 0px 30px;">Privacy Policy</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>