<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Advert Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/advert-detail-applicant.css"
          th:href="@{/css/advert-detail-applicant.css}"rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
</head>
<body>
    <nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">

				<a href="/applicant" class="navbar-brand">Graduate Application Program</a>
			</div>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a  href="/logout">
                        <i style='font-size:13px;' class='fas'>&#xf2f5; Sign Out</i>
                    </a>
                </li>
            </ul>
		</div>
	</nav><!-- end of the navbar-->

	
	
	
	
	
	
	
    <div class="container" style="margin-bottom: 10px; ">
        <div class="container-section d-flex align-items-center justify-content-center col-4">
            <div class="container-section-part ">
                <div class="row cs-first">
                    <div class="row cs-first-title col-xs-8">
                        <p ><span th:utext="${advert.getName()}"/></p>
                    </div>
                    <div class="cs-first-description col-xs-4">
                        <a th:href="${'/applicant/application/new/' + advert.getId()}" style="display: flex; justify-content: flex-end;">
                            <button type="submit" class="btn btn-default see-details" style="width: 50%;background: #3F78B3;color:#FFF ;border-color: #3F78B3;border-radius: 15px;">Apply</button>
                        </a>
                    </div>
                </div>
				
				
				
				
				
				
				<div class="row cs-second-part">
					<div class="row cs-second">
						<div class="date-title col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<p>Expire Date : </p>
						</div>
						<div class="date col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<p><span th:utext="${#dates.format(advert.deadlineDate, 'dd-MM-yyyy')}"/></p>
						</div>
					</div>
				</div>
				
				
				

                <div class="row cs-third-part">
                    <div class="cs-third">
                        <div class="details">
							
                            <p><span th:utext="${advert.getDetails()}" /></p>
						</div>
                    </div>

                </div>
            </div>
        </div>
    </div>




</body>
</html>