<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modify Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/new-application.css"
		  th:href="@{/css/new-application.css}" rel="stylesheet" type="text/css"/>
	<script src="../../static/js/modify-application.js"
			th:src="@{/js/modify-application.js}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
</head>
<body onload="initialLoad();">
    <nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">

				<a href="#" class="navbar-brand">Graduate Application Program</a>
			</div>
			
			<ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
		</div>
	</nav><!-- end of the navbar-->
			

    <div class="container" style="margin-bottom: 0px; ">
        <div class="container-section d-flex align-items-center justify-content-center col-4">
            <div class="container-section-part ">
                <div class="row cs-first">
                    <div class="row cs-first-title col-xs-6">
                        <p><span th:text="${applicationForm.advert.name}"/></p>
                    </div>
					
					<div class="col-xs-4">
						<div class="date-title col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<p>Expire Date:</p>
						</div>
						<div class="date col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<p><span th:text="${#dates.format(applicationForm.advert.deadlineDate, 'dd-MM-yyyy')}"/> </p>
						</div>
					</div>
					
                    <div class="cs-first-description col-xs-2">
                        <a href="#" style="display: flex; justify-content: flex-end;">
                            <button type="button" class="btn btn-default see-details" style="width: 100%;background: #fff;color:#3F78B3 ;border-color: #3F78B3;border-radius: 15px;">See Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

	
	<div class="container" style="margin-bottom: 10px; ">
        <div class="container-section d-flex align-items-center justify-content-center col-4" style="padding-top: 10px;">
            <form id="applicationForm" class="container-section-part " th:object="${applicationForm}" th:action="@{/applicant/application/modify}" method="post" enctype="multipart/form-data">

				<input hidden th:field="*{id}" th:value="${applicationForm.id}"/>
				<input hidden th:field="*{advert}" th:value="${applicationForm.advert}"/>
				<input hidden th:field="*{applicant}" th:value="${applicationForm.applicant}" />
				<input hidden th:field="*{documents}" th:value="${applicationForm.documents}" />

                <div class="row step">
                    <div class="row step-title">
                        <p>STEP-1</p>
					
					<div class="row">
						<input data-limit-rows="true" class="info-letter col-xs-6 col-sm-6 col-md-6 col-lg-6" placeholder="Name" rows="1"
							   th:field="*{applicant.fName}"
							   th:value="${applicationForm.applicant.fName}" required>
						<input data-limit-rows="true" class="info-letter col-xs-6 col-sm-6 col-md-6 col-lg-6" placeholder="Surname" rows="1"
							   th:field="*{applicant.lName}"
							   th:value="${applicationForm.applicant.lName}" required>
					</div>
					
					<div  class="row">
						<input type="date" placeholder="Birth Date" class="info-letter col-xs-6 col-sm-6 col-md-6 col-lg-6"
							   th:field="*{applicant.birthDate}"
							   th:value="${applicationForm.applicant.birthDate}" required/>
						<input type="number" class="info-letter col-xs-6 col-sm-6 col-md-6 col-lg-6" placeholder="Phone Number"
							   th:field="*{applicant.phone}"
							   th:value="${applicationForm.applicant.phone}" required/>

					</div>
					
<!--					<div  class="row">-->
<!--						<select type="text" placeholder="Gender" class="info-letter col-xs-6 col-sm-6 col-md-6 col-lg-6" required>-->
<!--							-->
<!--                        	<option value=""  disabled style="color: #9C9C9C">Gender</option>-->
<!--							<option value="woman">Woman</option>-->
<!--							<option selected value="men">Male</option>-->
<!--							<option value="none">Not want to specify</option>-->
<!--                        </select>-->
<!--						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">-->
<!--						</div>-->
<!--					</div>-->
						
						
					<div class="address-part">
                            <div class="title-part">
                                <p>Address</p>
                            </div>
<!--                            <div class="row text-area-fourth-section">-->
<!--                                <div class="col-4 col-md-4 col-lg-4 text-area-part">-->
<!--                                    <input id="country" class="text-area" type="text" placeholder="Country" value="Turkey" required>-->
<!--                                </div>-->
<!--                                <div class="col-4 col-md-4 col-lg-4 text-area-part">-->
<!--                                    <input id ="city" class="text-area" type="text" placeholder="City" value="Izmir" required>-->
<!--                                </div>-->
<!--                                <div class="col-4 col-md-4 col-lg-4 text-area-part">-->
<!--                                    <input id="town"  class="text-area" type="text" placeholder="Town" value="Urla" required>-->
<!--                                </div>-->
<!--                                -->
<!--                            </div>-->
						<div class="text-area-last-section">
                                <textarea id="addr-details" class="text-area" rows="5" placeholder="Address Details.." require><th:block th:text="${applicationForm.applicant.address}" /></textarea>
						</div>

						<!--Can address inputu olarak aşağıdakini al-->
						<input id="address-full"  name="address" type="text" value="" style="display:none"
							   th:field="*{applicant.address}"/>
                    </div>
						
				</div>
             </div>
				
				
				<div class="row step">
                    <div class="row step-title">
                        <p>STEP-2</p>
                    </div>
					
					<div class= "row step-question-part">
						<div class="just-letter col-xs-5 col-sm-5 col-md-5 col-lg-5">
							<p>Please upload your photo*</p>
						</div>
						<div th:each="doc : ${applicationForm.getDocuments()}"
							 th:if="${doc.getDocType().toString().equals('PHOTO')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
								<button type="button" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
							</a>
						</div>
						<div id="upload1" class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2">	
							<a   style="display: flex; justify-content: flex-end;">
							<label type="button"   for="photo-input" class="btn btn-default upload-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Upload</label>
							</a>
							<input id="photo-input" name="photo" onchange="show_1();"  required type="file" accept=".jpg,.jpeg" style=" visibility:hidden;" />
						</div>
						<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px;">
							<p id="info1" style="color: #9C9C9C; text-align: center;"></p>							
						</div>
						<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-left: 5px;">
							<p  id="x1" class="btn btn-default upload-button" onclick="back_1();" style="height:25px; width: 25px; border-color: rgb(148, 85, 98); border-radius: 20px; color: rgb(179, 82, 101); visibility: hidden;" ;>X</p>							
						</div>
						
					</div>
					
					<div  class="row step-question-part">
						<div class="just-letter col-xs-5 col-sm-5 col-md-5 col-lg-5">
							<p>Please add your undergraduate transcript/s?*</p>
						</div>
						<div th:each="doc : ${applicationForm.getDocuments()}"
							 th:if="${doc.getDocType().toString().equals('TRANSCRIPT')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
								<button type="button" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
							</a>
						</div>
						<div id="upload2" class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2">	
							<a   style="display: flex; justify-content: flex-end;">
							<label type="button"   for="trans-input" class="btn btn-default upload-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Upload</label>
							</a>
							<input id="trans-input" name="transcript" onchange="show_2();" required type="file" accept=".pdf" style=" visibility:hidden;" />
						</div>
						<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px;">
							<p id="info2" style="color: #9C9C9C; text-align: center;"></p>							
						</div>
						<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-left: 5px;">
							<p  id="x2" class="btn btn-default upload-button" onclick="back_2();" style="height:25px; width: 25px; border-color: rgb(148, 85, 98); border-radius: 20px; color: rgb(179, 82, 101); visibility: hidden;" ;>X</p>							
						</div>
					</div>
					
					<div  class="row step-question-part">
						<div class="just-letter col-xs-5 col-sm-5 col-md-5 col-lg-5">
							<p>Do you have ALES result?*</p>
						</div>
						<div th:each="doc : ${applicationForm.getDocuments()}"
							 th:if="${doc.getDocType().toString().equals('ALES')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
								<button type="button" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
							</a>
						</div>
						<div id="upload3" class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2">	
							<a   style="display: flex; justify-content: flex-end;">
							<label type="button"   for="ales-input" class="btn btn-default upload-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Upload</label>
							</a>
							<input id="ales-input" name="ales" onchange="show_3();" required type="file" accept=".pdf" style=" visibility:hidden;" />
						</div>
						<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px;">
							<p id="info3" style="color: #9C9C9C; text-align: center;"></p>							
						</div>
						<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-left: 5px;">
							<p  id="x3" class="btn btn-default upload-button" onclick="back_3();" style="height:25px; width: 25px; border-color: rgb(148, 85, 98); border-radius: 20px; color: rgb(179, 82, 101); visibility: hidden;" ;>X</p>							
						</div>
					</div>
					
					<div  class="row step-question-part">
						<div class="just-letter col-xs-5 col-sm-5 col-md-5 col-lg-5">
							<p>Do you have any English Exam Result?</p>
						</div>
						<div th:each="doc : ${applicationForm.getDocuments()}"
							 th:if="${doc.getDocType().toString().equals('ENGLISHEXAM')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
								<button type="button" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
							</a>
						</div>
						<div id="upload4" class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2">	
							<a   style="display: flex; justify-content: flex-end;">
							<label type="button"   for="ee-input" class="btn btn-default upload-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Upload</label>
							</a>
							<input id="ee-input" name="englishExam" onchange="show_4();"  type="file" accept=".pdf" style=" visibility:hidden;" />
						</div>
						<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px;">
							<p id="info4" style="color: #9C9C9C; text-align: center;"></p>							
						</div>
						<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-left: 5px;">
							<p  id="x4" class="btn btn-default upload-button" onclick="back_4();" style="height:25px; width: 25px; border-color: rgb(148, 85, 98); border-radius: 20px; color: rgb(179, 82, 101); visibility: hidden;" ;>X</p>							
						</div>
					</div>
					 
                </div>
				
				
				<div class="row step">
                    <div class="row step-title">
                        <p>About Your Appllication</p>
                    </div>
									
					<div  class="row">
						<div class="just-letter col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p>Why you are applying to Master in Computer Engineering - Network Enginnering? Please write a purpose of that?* </p>
						</div>
						<textarea id="propose" onchange="addPropopose()"class="info-letter big  col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width: 90%" placeholder="About Advert ..." rows="10" required>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatem distinctio veritatis modi incidunt animi, totam nihil molestiae molestias, dolor quod neque numquam tempora odio fugiat magnam? Eos, alias reprehenderit!</textarea>
						<input id="propose-input" name="statementOfPurpose" required type="file" accept=".pdf" style=" visibility:hidden;" >
						
						
						<div class="row" >
							<div class="just-letter col-xs-3 col-sm-3 col-md-3 col-lg-3">
							</div>
							<div class="disc-letter col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<p>Upload your reference letters.* :</p>
							</div>
							<div th:each="doc : ${applicationForm.getDocuments()}"
								 th:if="${doc.getDocType().toString().equals('REFERENCELETTER')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
								<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
									<button type="button" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
								</a>
							</div>
							<div id="upload5" class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-top: 5px;">
								<a   style="display: flex; justify-content: flex-end;">
								<label type="button"   for="ref-input" class="btn btn-default upload-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Upload</label>
								</a>
								<input id="ref-input" name="referenceLetter" onchange="show_5();" required type="file" accept=".pdf" style=" visibility:hidden;" />
							</div>
							<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px; padding-top: 5px;">
								<p id="info5" style="color: #9C9C9C; text-align: center;"></p>
							</div>
							<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 5px  0 0 5px; ">
								<p  id="x5" class="btn btn-default upload-button" onclick="back_5();" style="height:25px; width: 25px; border-color: rgb(148, 85, 98); border-radius: 20px; color: rgb(179, 82, 101); visibility: hidden;" ;>X</p>
							</div>
						</div>
						
					</div>
					
				</div>


				<div class="row step">
                    <div class="row step-title">
                        <p>Other Information About You</p>
                    </div>
									
					<div  class="row select-part need-space">
						<input hidden id="isForeign" th:value="${isForeign}"/>
						<div class="just-letter col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p>Do you have Turkish identity card?* </p>
						</div>
						<div class="row no-yes col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<a style="display: flex; justify-content: flex-end;">
									<button type="button" class="btn btn-default no-yes-button" id= "button1"  onclick="enableButton2()"  style="width: 95%;background: #fff;color:#A0A0A0 ;border-color: #A0A0A0;border-radius: 15px;">No</button>
								</a>
						</div>
						
						<div class="row no-yes col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<a  style="display: flex; justify-content: flex-end;">
									<button type="button" class="btn btn-default no-yes-button" id="button3" onclick="disableButton2()" style="width: 95%;background: #fff;color:#A0A0A0 ;border-color: #A0A0A0;border-radius: 15px;">Yes</button>
								</a>
						</div>
						
						<div id="extra-1" style="visibility: hidden;" title= "e1-0">
							<div class="row disc-letter col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<p>If no, please upload your copy of passport.</p>
							</div>

							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
							<div th:each="doc : ${applicationForm.getDocuments()}"
								 th:if="${doc.getDocType().toString().equals('PASSPORT')}"class="Open File col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
									<button type="button" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
								</a>
							</div>
							<div id="upload6" class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2">	
								<a   style="display: flex; justify-content: center;">
									<label type="button"   for="id-input" class="btn btn-default upload-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Upload</label>
								</a>
								<input id="id-input" name="passport" onchange="show_6();"  type="file" accept=".pdf" style=" visibility:hidden;" />
							</div>
							<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px;">
								<p id="info6" style="color: #9C9C9C; text-align: center;"></p>							
							</div>
							<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-left: 5px;">
								<p  id="x6" class="btn btn-default upload-button" onclick="back_6();" style="height:25px; width: 25px; border-color: rgb(148, 85, 98); border-radius: 20px; color: rgb(179, 82, 101); visibility: hidden;" ;>X</p>							
							</div>

						</div>
					</div>

					<input hidden id="isWorking" th:value="${isWorking}"/>
					<div  class="row">
						<div class="just-letter col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p>Are you working any company?* </p>
						</div>
						<div class="row no-yes col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<a style="display: flex; justify-content: flex-end;">
									<button type="button" class="btn btn-default no-yes-button" id="button6" onclick="disableButton5()" style="width: 95%;background: #fff;color:#A0A0A0 ;border-color: #A0A0A0;border-radius: 15px;">No</button>
								</a>
						</div>
						
						<div class= "row no-yes col-xs-6 col-sm-6 col-md-6 col-lg-6" style="align-items: center;text-align: center;">
							<div>
									<button type="button" class="btn btn-default no-yes-button" id="button4" onclick="enableButton5()" style="width: 95%;background: #fff;color:#A0A0A0 ;border-color: #A0A0A0;border-radius: 15px;">Yes</button>
		
							</div>
							
							<div id="extra-2" style="visibility: hidden;" title= "e2-0">
								<div  class="row disc-letter col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<p >If yes*, please upload your permission letter to studying from company</p>
								</div>

								<div th:each="doc : ${applicationForm.getDocuments()}"
									 th:if="${doc.getDocType().toString().equals('PERMISSIONLETTER')}"class="Open File col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
										<button type="button" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
									</a>
								</div>
								<div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4" ></div>
								<div id="upload7" class="upload col-xs-4 col-sm-4 col-md-4 col-lg-4">	
									<a   style="display: flex; justify-content: center;">
										<label type="button"   for="work-input" class="btn btn-default upload-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Upload</label>
									</a>
									<input id="work-input" name="permissionLetter" onchange="show_7();" type="file" accept=".pdf" style=" visibility:hidden;" >
								</div>
								<div class="upload col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px;">
									<p id="info7" style="color: #9C9C9C; text-align: center;"></p>							
								</div>
								<div class="upload col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 5px;">
									<p  id="x7" class="btn btn-default upload-button" onclick="back_7();" style="height:25px; width: 25px; border-color: rgb(148, 85, 98); border-radius: 20px; color: rgb(179, 82, 101); visibility: hidden;" ;>X</p>							
								</div>

								
							</div>
							
							
						</div>
					</div>
				</div>

				<div id="advert_type" th:value="${applicationForm.advert.type.toString()}"/>
<!--				<input hidden id="dummy" name="masterTranscript" type="file" />-->
				<div th:if="${applicationForm.advert.type.toString().equals('PHD')}" >
				<div class="row step">
                    <div class="row step-title">
                        <p>PhD Application</p>
                    </div>
									
					<div  class="row" >
						<div class="just-letter col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p>You are in last step. You are trying  to apply to an PhD advert. Please upload your Master Transcript to complete application.* </p>
						</div>
						
						<div class="upload col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
						<div th:each="doc : ${applicationForm.getDocuments()}"
							 th:if="${doc.getDocType().toString().equals('MASTERTRANSCRIPT')}"class="Open File col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<a th:href="${'/docs/' + doc.getId()}" style="display: flex; justify-content: flex-end;">
								<button type="button" class="btn btn-default Open File-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Open File</button>
							</a>
						</div>
						<div id="upload8" class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2">	
							<a   style="display: flex; justify-content: center;">
							<label type="button"   for="phd-input" class="btn btn-default upload-button" style="width: 100%;background: #fff;color:#B29B25 ;border-color: #B29B25;border-radius: 15px;">Upload</label>
							</a>
							<input id="phd-input" name="masterTranscript" onchange="show_8();"  type="file" accept=".pdf" style=" visibility:hidden;" >
						</div>
						<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px;">
							<p id="info8" style="color: #9C9C9C; text-align: center;"></p>							
						</div>
						<div class="upload col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-left: 5px;">
							<p  id="x8" class="btn btn-default upload-button" onclick="back_8();" style="height:25px; width: 25px; border-color: rgb(148, 85, 98); border-radius: 20px; color: rgb(179, 82, 101); visibility: hidden;" ;>X</p>							
						</div>

					</div>
				</div>
				</div>
				
				
				<div class="bottom-buttons">
					<div class="col-xs-8"></div>
					<div class="cs-first-description col-xs-2">
							<a  style="display: flex; justify-content: flex-end;">
								<button onClick="createAddress()" type="button" class="btn btn-default cancel" style="width: 100%;background: #fff;color:#3F78B3 ;border-color: #3F78B3;border-radius: 15px;">Cancel</button>
							</a>
					</div>

					<div class="cs-first-description col-xs-2">
							<a href="#" style="display: flex; justify-content: flex-end;">
								<button  type="submit" onclick="createAddress();submitForm();"class="btn btn-default update" style="width: 100%;background: #3F78B3;color:#fff ;border-color: #3F78B3;border-radius: 15px;">Apply</button>
							</a>
					</div>

					<div class="col-xs-8"></div>
					<div id="apply-error" class="col-xs-4" style="color: red; text-align: center; display:none"> Please complete required places.</div>
				</div>

				
			</form>
		</div>
	</div>


</body>
</html>