<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find Right Advert</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/find-advert-applicant.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">

            <a href="#" class="navbar-brand">GAWP - Grad School</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav><!-- end of the navbar-->



<div class="container">
    <div th:if="${not #lists.isEmpty(adverts)}">
        <p class="main-title">Find Right Advert</p>



        <div class="container"  th:each="advert : ${adverts}" style="margin-bottom: 10px; ">
            <div class="container-section d-flex align-items-center justify-content-center col-4">
                <div class="find-right-advert-section" style="box-sizing: border-box; border: solid 1px #337ab7; padding: 20px 30px 20px 30px;border-radius: 30px;box-shadow: -2px 3px 4px #f7e4e4; ">

                    <div class="row">
                        <div class="col-md-4 job-attribute-part">
                            <a th:href="${'/advert/show/' + advert.id}">
                                <p th:text="${advert.type + ' in ' + advert.details}"></p>
                            </a>
                        </div>
                        <div class="col-md-4 date-attribute-part">
                            <p th:text="${#dates.format(advert.deadlineDate, 'dd-MM-yyyy')}"></p>
                        </div>
                        <div class="col-md-4 button-part">
                            <a th:href="${'/advert/show/' + advert.id}">
                                <button type="submit">See Details</button>
                            </a>
                        </div>
                        <div class="col-md-4 button-part">
                            <a th:href="@{/application/new/{id}(id=${advert.id})}">
                                <button type="submit">Apply</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>

</body>
</html>