<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find Right Advert</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/find-advert-applicant.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">

            <a href="/applicant" class="navbar-brand">Graduate Application Program</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a  href="/logout">
                    <i style='font-size:13px;' class='fas'>&#xf2f5; Sign Out</i>
                </a>
            </li>
        </ul>
    </div>
</nav><!-- end of the navbar-->



<div class="container">
    <div th:if="${not #lists.isEmpty(adverts)}">
        <p class="main-title">Find Right Advert</p>



        <div class="container"  th:each="advert : ${adverts}" style="margin-bottom: 10px; ">
            <div class="container-section d-flex align-items-center justify-content-center col-4">
                <div class="find-right-advert-section" style="box-sizing: border-box; border: solid 1px #337ab7; padding: 20px 30px 20px 30px;border-radius: 30px;box-shadow: -2px 3px 4px #f7e4e4; ">

                    <div class="row">
                        <div class="col-md-4 job-attribute-part">
                            <a th:href="${'/advert/show/' + advert.id}">
                                <p th:text="${advert.type + ' in ' + advert.details}"></p>
                            </a>
                        </div>
                        <div class="col-md-4 date-attribute-part">
                            <p th:text="${#dates.format(advert.deadlineDate, 'dd-MM-yyyy')}"></p>
                        </div>
                        <div class="col-md-4 button-part">
                            <a th:href="${'/advert/show/' + advert.id}">
                                <button type="submit">See Details</button>
                            </a>
                        </div>
                        <div class="col-md-4 button-part">
                            <a th:href="@{/application/new/{id}(id=${advert.id})}">
                                <button type="submit">Apply</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>


<footer>
    <div class="footer" style="background-color:#e0e0e0; color: black; height: 300px; position: relative; margin-top: 300px;">
        <div class="footer-content" style="padding: 30px; height: 250px;">
            <div class="footer-section about col-4 col-md-4 col-lg-4">
                <div class="about-title-part" style="text-align: center; font-size: 18px; letter-spacing: 0.3px;">
                    <div>
                        <p>ABOUT</p>
                    </div>
                </div>
                <ul style="margin: 0; padding: 0;">
                    <li style="text-align: center; list-style: none; font-size: 15px;"><a style=" text-decoration: none; color: #818181;" th:href="@{/applicant/aboutUs}" target="_blank">About us</a></li>
                </ul>

            </div>
            <div class="footer-section support col-4 col-md-4 col-lg-4">
                <div class="support-title-part"style="text-align: center; font-size: 18px; letter-spacing: 0.3px;">
                    <div>
                        <p>SUPPORT</p>
                    </div>
                </div>
                <ul style="margin: 0; padding: 0;">
                    <li style="text-align: center; list-style: none; font-size: 15px;"><a style=" text-decoration: none; color: #818181;" target="_blank" th:href="@{/applicant/helpCenter}">Help Center</a></li>
                    <li style="text-align: center; list-style: none; font-size: 15px; padding-top: 5px;"><a style=" text-decoration: none; color: #818181;" target="_blank" th:href="@{/applicant/navigator}">Navigator</a></li>
                    <li style="text-align: center; list-style: none; font-size: 15px; padding-top: 5px;"><a style=" text-decoration: none; color: #818181;" target="_blank" th:href="@{/applicant/faq}">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-section contact-us col-4 col-md-4 col-lg-4">
                <div class="contact-title-part" style="text-align: center; font-size: 18px; letter-spacing: 0.3px;">
                    <div>
                        <p>CONTACT US</p>
                    </div>
                </div>
                <ul style="margin: 0; padding: 0;">
                    <li style="text-align: center; list-style: none; font-size: 15px; color: #818181;">group10.gawp@gmail.com</li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom" style="color: #d6d6d6; height: 50px; text-align: center; position: absolute; bottom: 0; left: 0; width: 100%; font-size: 18px;">
            <div class="menu" style="background-color: #c9c9c9; list-style: none; padding: 10px 0px 10px 0px;">
                <ul style="margin: 0;">
                    <a th:href="@{/applicant/policies}" target="_blank">
                        <li style="color: rgb(77, 77, 77); display: inline; padding: 0px 30px 0px 30px;">Trust and Safety</li>
                        <li style="color: rgb(82, 82, 82); display: inline; padding: 0px 30px 0px 30px;">Term of Use</li>
                        <li style="color: rgb(82, 82, 82); display: inline; padding: 0px 30px 0px 30px;">Privacy Policy</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>