@charset "utf-8";

body{
    height: 100vh;
    width: 100%;
    background-color: #f6f6f6;
}

.navbar-default .navbar-brand {
    color: #d6d6d6;
	display: inline-block;
    float: none;
}

 .navbar-header {
    text-align: center;
    width: 90%;
    color: #FFFFFF;
}


.navbar-default{
	background: #5F262F
}


.dropdown-menu {
	color: #000000;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}

.nav.navbar-nav.navbar-right li  ul li a {
    color: black;
}

.container-section .add-new-advert-title{
    color: #5B5B5B;
    font-size: 25px;
    font-weight: 600;
}

.second-container .second-container-attributes{
    box-sizing: border-box;
    border:solid 1px #ececd1;
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: -2px 3px 4px #f7e4e4;
}

.second-container .second-container-attributes .add-advert-description-part{
    font-size: 20px;
    letter-spacing: 0.3px;
    color:#5B5B5B;
}

.second-container .second-container-attributes .text-area-part .text-area{
    width: 100%;
    border-radius: 10px;
    border: solid 1px #A0A0A0;
}


.second-container .second-container-attributes .about-advert-part .text-area-part .about-advert-textarea{
    width: 100%;
    border-radius: 5px;
    font-family: "Aeonik-LightItalic";
    padding-left: 10px;
    border-color: #A0A0A0;
}

.second-container .second-container-attributes .requirements-part .text-area-part .requirements-textarea{
    width: 100%;
    border-radius: 5px;
    font-family: "Aeonik-LightItalic";
    padding-left: 10px;
    border-color: #A0A0A0;
    margin-top: 10px;
}

.second-container .second-container-attributes .button-part{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    padding-right: 30px;
}

.btn.btn-default{
    border-radius: 20px;
    padding-left: 40px;	
	padding-right: 40px;	
}

.btn.btn-default.share{
	background: #F25A73;
	color: white;
}