@charset "utf-8";

body{
    height: 100vh;
    width: 100%;
    background-color: #f6f6f6;
}

.navbar-default .navbar-brand {
    color: #d6d6d6;
	display: inline-block;
    float: none;
}

 .navbar-header {
    text-align: center;
    width: 90%;
    color: #FFFFFF;
}


.navbar-default{
	background: #4E90D4;
}


.dropdown-menu {
	color: #000000;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}

.nav.navbar-nav.navbar-right li  ul li a {
    color: black;
}
.btn.btn-default{
    border-radius: 20px;
    padding-left: 40px;	
	padding-right: 40px;	
}

.btn.btn-default .apply{
	background: #F25A73;
	color: white;
}

.button-part{
    text-align: right;
}


.button-part .see-details{
    width: 50%;
    background: #FFFFFF;
    color:#3F78B3 ;
    border-color: #3F78B3;
    border-radius: 15px;
    padding: 5px 20px 5px 20px !important;

}

.button-part-second{
    text-align: left;
}


.button-part-second .apply{
    width: 50%;
    background: #FFFFFF;
    color:#3F78B3 ;
    border-color: #3F78B3;
    border-radius: 15px;
    padding: 5px 20px 5px 20px !important;
}

.container-section .find-right-advert-section .job-attribute-part{
    font-size: 15px;
    color: #3F78B3;
    text-decoration: none;
    font-weight: 400;
}


.main-title{
    padding-top: 10px;
    font-size: 40px;
    text-align: center;
}