@charset "utf-8";



#first_btn{
      background-color: green;
    }
    #first_btn:active{
      background-color: yellow;
    }
    
    #first_btn.active{
  background-color: yellow;
}


body{
    height: 100vh;
    width: 100%;
    background-color: #f6f6f6;
}

.navbar-default .navbar-brand {
    color: #d6d6d6;
	display: inline-block;
    float: none;
}

 .navbar-header {
    text-align: center;
    width: 90%;
    color: #FFFFFF;
}


.navbar-default{
	background: #26425F;
}


.dropdown-menu {
	color: #000000;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}

.nav.navbar-nav.navbar-right li  ul li a {
    color: black;
}


/*advert part*/


/* end of advert part*/


.container-section{
    padding-top: 40px;
}

.container .container-section .container-section-part{
    box-sizing: border-box;
    border:solid 1px #dadada;
    padding: 6% 5% 8% 13%;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: -2px 3px 4px #d1d1d1;
}



.container .container-section .container-section-part .cs-first-title{
    font-size: 20px;
    color: #35609F;
}

.container .container-section .container-section-part .cs-first-title p{
	margin-bottom:  0;
    
}



.step{
	margin-bottom: 40px;
}

.step-title{
    font-size: 18px;
	margin-bottom: 5px;
	margin-left: -25px;
    
}

.just-letter{
	padding: 0px;
}

.info-letter{
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    width: 30%;
	margin-top: 5px;
	margin-left: 5px;
}

.info-letter.big{
	padding-top: 5px;
	padding-bottom: 40px;
}



.step-question-part{
	margin-bottom: 15px;
}

.upload-button{
	padding: 2px;
}

.no-yes{
	padding-left: 10px;
}

.disc-letter{
	padding-top: 10px;
	padding-left: 0px;
	font-size: 12px;
}

.need-space{
	margin-bottom: 40px;
}

.bottom-buttons{
	margin: 80px 0;
}


button:focus {outline:0 !important;}

@media screen and (max-width: 500px){
	.container .container-section .container-section-part .cs-first-title{
    	font-size: 15px;
	}
	
	.container .container-section .container-section-part .cs-first .cs-first-description .see-details{
    	padding-right: 40px;
	}

}

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    visibility: hidden;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}





textarea{
    border: solid 1px #A0a0a0;
    border-radius: 8px !important;
    color: #363636;
    width: 100%;
    outline: 0px !important;
    padding:5px 0px 5px 20px;
    resize: none;
}



.address-part{
    padding-top: 20px;
	width: 92%;
}

 .address-part .title-part{
    font-size: 20px;
    color:#1e1e1e;
}
