<!DOCTYPE html>
<html lang="en">
<head>
    <title>Department Panel Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    <link href="about-us.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
</head>
<body>
  
    <div class="container" style="margin-top: 100px; ">
        <div class="container-section d-flex align-items-center justify-content-center col-4">
            <div class="container-section-part">

                <div class=" container-third-part" style="color: rgb(131, 131, 131)">
                    <p style="text-align: center; margin-bottom: 50px; font-size: 25px; color:tan">About Us</p>
                    <p  style="text-align: center; margin-bottom: 3px; color:black"> The GAWP project created bu the Group 10. In This group there are 7 developer. You can find their name in below. </p>
                    <p  style="text-align: center; margin-bottom: 3px;"> Can Yavuzkurt</p>
                    <p  style="text-align: center; margin-bottom: 3px;"> Caner Tangüler</p>
                    <p  style="text-align: center; margin-bottom: 3px;"> Elif Turhan</p>
                    <p  style="text-align: center; margin-bottom: 3px;"> Elman Hamdi</p>
                    <p  style="text-align: center; margin-bottom: 3px;"> Hasan Güleryüz</p>
                    <p  style="text-align: center; margin-bottom: 3px;"> Kazım Özkabadayı</p>
                    <p  style="text-align: center; "> Kemal Türk</p>
                    <p style="text-align: center; margin-bottom: 50px; color: black;">You can find us with this mail: <elman style="color: rgb(148, 121, 87);">group10.gawp@gmail.com</elman></p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>