<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department Panel Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/help-center.css"
          th:href="@{/css/help-center.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
</head>
<body>
    
    <div class="container" style="margin-top: 100px; ">
        <div class="container-section d-flex align-items-center justify-content-center col-4">
            <div class="container-section-part">

                <div class=" container-third-part">
                    <div style="font-size:30px; display: flex; justify-content: center; margin-bottom:30px">Help Center</div>
                    
                    <div  style="color:rgb(82, 82, 82); margin: 5px 40px; display: flex; justify-content: center;">
                        Please firstly check Navigator and FAQ page firstly. In those pages have a lot of things which you want to help from us. If you can not find solution for your problem please mail us. (You can find Navigator and FAQ pages in the end of the page.)
                        
                    </div>
                    <p style="font-size: 20px; color:rgb(82, 82, 82); margin: 20px 40px; display: flex; justify-content: center;">Our mail address: group10.gawp@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>