<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - advert Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <h2>Advert Details</h2>
    <div>
        <form class="form-horizontal" th:object="${interviewForm}" th:action="@{/interview}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>

            <input type="hidden" th:field="*{id}"/>

            <div class="form-group" th:class="${#fields.hasErrors('date')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Date:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" th:field="*{date}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('date')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>


            <div class="form-group" th:class="${#fields.hasErrors('point')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Point:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{point}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('point')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('place')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Place:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{place}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('place')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('comment')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Comment:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{comment}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('coment')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="footer" style="background-color:#e0e0e0; color: black; height: 300px; position: relative; margin-top: 300px;">
        <div class="footer-content" style="padding: 30px; height: 250px;">
            <div class="footer-section about col-4 col-md-4 col-lg-4">
                <div class="about-title-part" style="text-align: center; font-size: 18px; letter-spacing: 0.3px;">
                    <div>
                        <p>ABOUT</p>
                    </div>
                </div>
                <ul style="margin: 0; padding: 0;">
                    <li style="text-align: center; list-style: none; font-size: 15px;"><a style=" text-decoration: none; color: #818181;" th:href="@{/department/aboutUs}" target="_blank">About us</a></li>
                </ul>

            </div>
            <div class="footer-section support col-4 col-md-4 col-lg-4">
                <div class="support-title-part"style="text-align: center; font-size: 18px; letter-spacing: 0.3px;">
                    <div>
                        <p>SUPPORT</p>
                    </div>
                </div>
                <ul style="margin: 0; padding: 0;">
                    <li style="text-align: center; list-style: none; font-size: 15px;"><a style=" text-decoration: none; color: #818181;" target="_blank" th:href="@{/department/helpCenter}">Help Center</a></li>
                    <li style="text-align: center; list-style: none; font-size: 15px; padding-top: 5px;"><a style=" text-decoration: none; color: #818181;" target="_blank" th:href="@{/department/navigator}">Navigator</a></li>
                    <li style="text-align: center; list-style: none; font-size: 15px; padding-top: 5px;"><a style=" text-decoration: none; color: #818181;" target="_blank" th:href="@{/department/faq}">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-section contact-us col-4 col-md-4 col-lg-4">
                <div class="contact-title-part" style="text-align: center; font-size: 18px; letter-spacing: 0.3px;">
                    <div>
                        <p>CONTACT US</p>
                    </div>
                </div>
                <ul style="margin: 0; padding: 0;">
                    <li style="text-align: center; list-style: none; font-size: 15px; color: #818181;">group10.gawp@gmail.com</li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom" style="color: #d6d6d6; height: 50px; text-align: center; position: absolute; bottom: 0; left: 0; width: 100%; font-size: 18px;">
            <div class="menu" style="background-color: #c9c9c9; list-style: none; padding: 10px 0px 10px 0px;">
                <ul style="margin: 0;">
                    <a th:href="@{/department/policies}" target="_blank">
                        <li style="color: rgb(77, 77, 77); display: inline; padding: 0px 30px 0px 30px;">Trust and Safety</li>
                        <li style="color: rgb(82, 82, 82); display: inline; padding: 0px 30px 0px 30px;">Term of Use</li>
                        <li style="color: rgb(82, 82, 82); display: inline; padding: 0px 30px 0px 30px;">Privacy Policy</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</footer>


</body>
</html>